{% extends "layout.html" %} {% block content %}
<div class="text-center mt-5 p-5">
  <h1 class="h4 mb-3">{{message}}</h1>
  <form action="/delete_post/{{post_id}}" method="POST">
    <div class="mb-3 px-3">
      <input
        type="radio"
        class="btn-check"
        name="options"
        autocomplete="off"
        id="option1"
        value="1"
      />
      <label class="btn btn-outline-dark me-2" for="option1">Yes</label>
      <input
        type="radio"
        class="btn-check"
        name="options"
        autocomplete="off"
        id="option2"
        value="2"
      />
      <label class="btn btn-outline-dark" for="option2">No</label>
    </div>
    <div class="px-3">
      <button type="submit" class="btn btn-dark shadow rounded-pill">
        Submit
      </button>
    </div>
  </form>
</div>
{% endblock %}
