{% extends "layout.html" %} {% block content %}
<nav class="navbar navbar-expand-lg bg-dark fixed-top">
  <div class="container p-1">
    <a class="navbar-brand text-light" href="#">Edit Post</a>
    <a
      class="btn btn-light rounded-pill ms-auto me-2"
      href="/profile/{{user.username}}/{{user.user_id}}"
      >My Profile</a
    >
    <a class="btn btn-light shadow rounded-pill" href="/login">Log out</a>
  </div>
</nav>
<div class="container mt-5 p-5">
  <div class="row justify-content-center py-1">
    <div class="col-md-5 rounded border shadow bg-light p-4">
      <h1 class="h4 text-center text-dark mb-4">Post</h1>
      <form
        action="/edit_post/{{post.post_id}}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="mb-3 px-3">
          <label for="Input1" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="Input1"
            value="{{post.title}}"
          />
        </div>
        <div class="mb-4 px-3">
          <label for="Input2" class="form-label">Content</label>
          <textarea class="form-control" rows="5" id="Input2" name="content">
{{post.content}}</textarea
          >
        </div>
        <div class="mb-4 px-3">
          <label for="formFile" class="form-label">Upload Image</label>
          <input
            class="form-control"
            type="file"
            id="formFile"
            name="image"
            value="{{post.image}}"
          />
        </div>
        <div class="mb-2 text-center px-3">
          <button type="submit" class="btn btn-lg btn-dark shadow rounded-pill">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
